<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Super Shop</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" th:rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="http://localhost:8080/">Super Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <form role="form" method="post" th:action="@{/address}" th:object="${shippingDetails}">
        <div class="float-child">
            <div class="form-group col-md-4">
                <label for="name">Imię</label>
                <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        th:field="*{name}"
                        placeholder="Imię">
            </div>
            <div class="form-group col-md-4">
                <label for="surname">Nazwisko</label>
                <input
                        type="text"
                        class="form-control"
                        id="surname"
                        name="surname"
                        th:field="*{surname}"
                        placeholder="Nazwisko">
            </div>
            <div class="form-group col-md-4">
                <label for="phonenumber">Telefon</label>
                <input
                        type="tel"
                        class="form-control"
                        id="phonenumber"
                        name="phonenumber"
                        th:field="*{phonenumber}"
                        placeholder="123456789">
            </div>
            <div class="form-group col-md-4">
                <label for="email">email</label>
                <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        th:field="*{email}"
                        placeholder="example@eg.com">
            </div>
        </div>
        <div class="float-child">
            <div class="form-group col-md-4">
                <label for="street">Ulica</label>
                <input
                        type="text"
                        class="form-control"
                        id="street"
                        name="street"
                        th:field="*{street}"
                        placeholder="Ulica 99">
            </div>
            <div class="form-group col-md-4">
                <label for="house">Numer mieszkania*</label>
                <input
                        type="text"
                        class="form-control"
                        id="house"
                        name="housenumber"
                        th:field="*{housenumber}">
            </div>
            <div class="form-group col-md-4">
                <label for="post">Kod Pocztowy</label>
                <input
                        type="text"
                        class="form-control"
                        id="post"
                        name="zipcode"
                        th:field="*{zipcode}">
            </div>
            <div class="form-group col-md-4">
                <label for="country">Kraj</label>
                <input
                        type="text"
                        class="form-control"
                        id="country"
                        name="country"
                        th:field="*{country}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sposób dostawy</button>
    </form>
</div>
</body>
</html>